@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import "tailwindcss";

html,
body {
  font-family: "Inter", sans-serif;
}

@theme {
  --color-primary-green: #22ff88;
  --color-accent-pink: #FDF2F7;
  --color-dark-start: #0f1115;
  --color-dark-end: #151922;
  --radius-glass: 20px;

  --color-primary: "#39FF14", 
  --color-accent: "#FDF2F7",  
  --color-bg-dark: "#050a05",

  --color-bg-gradient-start: "#1a1a2e",
  --color-bg-gradient-end: "#05070a",

  --color-neon-green: "#39FF14",
  --colorhard-pink: "#FDF2F7",

  --border-glass-border: "rgba(255, 255, 255, 0.1)",
}